name: AndroidLint

on:
  pull_request:
    branches:
      - master

jobs:
  android_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - run: ./gradlew lint
      - uses: yutailang0119/action-android-lint@v1.1.0
        with:
          xml_path: build/reports/lint-results.xml
